<form action="/confirmation" method="post">
  
<label>Bookmark title:</label>
  <input type='text' name='title'>
  
  <label>Bookmark URL:</label>
  <input type='text' name='url'>
 
  <button type='submit'>Add to bookmarks</button>
</form>
