<ul>
  <% @bookmarks.each do |bookmark| %>
     <li>
      <%= bookmark %>
        <a href="<%= bookmark.url %>">
          <%= bookmark.title %>
        </a>
     </li>
  <% end %>
</ul>

<form action='/add'>
  <button style='font-size:20px' type='submit'>Add Bookmark</button>
</form>
